.raiting {
  display: flex;
  align-items: center;
  gap: 2px;
}

.likes {
  background-color: transparent;
  width: 25px;
}

@media (max-width: 1380px) {
  .likes {
    width: 20px;
    top: 38px;
  }

  .raiting {
    top: 36px;
  }
}

@media (max-width: 930px) {
  .raiting {
    top: 28px;
  }
}

