.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.link {
  display: block;
}

.logo {
  width: 30px;
  height: 30px;
  align-self: last baseline;
}

.text {
  text-transform: uppercase;
  font-size: 20px;
  align-self: last baseline;
}

@media(max-width: 700px) {
  .logo {
    width: 20px;
    height: 20px;
  }

  .text {
    font-size: 16px;
  }
}

@media(max-width: 500px) {
  .text {
    font-size: 12px;
  }
}